.entity-container {
  margin: 8px 0px;
  padding: 8px;
  background-color: rgb(246, 246, 246);
  border-radius: 8px;
  .banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    .title {
      margin: 0 0.5rem;
      h3 {
        margin: 0.5rem 0;
        line-height: 1.4rem;
      }
    }
    .icon {
      font-size: 1.2rem;
    }
  }
  .fields-container {
    .field {
      margin: 0.5rem 0;
    }
  }
}