<div class="tags-container">
  <h3 class="title">{{ editing ? "Remove tags:" : "Tags:" }}</h3>
  <div *ngFor="let tag of tags" class="tag-container">
    <app-tag
      [entity]="tag"
      [removing]="editing"
      [parentEntity]="entity"
      (tagsChangedEvent)="tagsChanged()"
    ></app-tag>
  </div>
</div>
<div *ngIf="editing">
  <button (click)="toggleEditing()">
    Cancel
  </button>
</div>
<div *ngIf="editing">
  <div class="available-tags">
    <h3>Add tags:</h3>
    <div *ngFor="let type of availableLinkTypes">
      <div class="tag-type-title">
        {{ type.collection_name }}
      </div>
      <div class="tags-container">
        <div
          *ngFor="let tag of filterTags(availableTags, type)"
          class="tag-container"
        >
          <app-tag
            [entity]="tag"
            [adding]="true"
            [parentEntity]="entity"
            (tagsChangedEvent)="tagsChanged()"
          ></app-tag>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <button (click)="toggleEditing()">
    {{ editing ? "Stop Editing Tags" : "Edit Tags" }}
  </button>
</div>
