<h1>People</h1>
<button (click)="logDbObject()">Log DB Object</button>
<button (click)="logAllPeople()">Log all people to console</button>
<button (click)="toggleAddingPerson()">Add Person</button>

<div *ngIf="addingPerson">
  <app-add-person></app-add-person>
</div>
<div *ngIf="!activePerson">
  <h3>All people:</h3>
  <div *ngFor="let person of people$ | async">
    <p>{{person.firstName}} {{person.lastName}}</p>
    <button (click)="selectPerson(person)">View</button>
  </div>
</div>
<div *ngIf="activePerson">
  <app-person [person]="activePerson"></app-person>
  <button (click)="deselectPerson()">Back</button>
</div>