<div class="add-person-form">
  <div *ngIf="!submitted">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        required
        [(ngModel)]="person.firstName"
        name="firstName"
      />
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        class="form-control"
        id="lastName"
        required
        [(ngModel)]="person.lastName"
        name="lastName"
      />
    </div>

    <button (click)="savePerson()" class="btn btn-success">Submit</button>
  </div>

  <div *ngIf="submitted">
    <p>Added person: {{person.firstName + " " + person.lastName}}</p>
    <button (click)="newPerson()">Add Another</button>
  </div>
</div>