<mat-card>
  <mat-card-content>
    <div class="title-row">
      <h2>{{ person.firstName }} {{ person.lastName }}</h2>
      <button mat-button (click)="toggleExpanded()">
        {{ expanded ? "Collapse" : "Expand" }}
      </button>
      <div *ngIf="expanded && !editingDetails">
        <button mat-button color="accent" (click)="toggleEditingDetails()">Edit</button>
      </div>
    </div>
    <div *ngIf="expanded">
      <div *ngIf="!deleted" class="person-container">
        <div *ngIf="editingDetails">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              required
              [(ngModel)]="person.firstName"
              name="firstName"
            />
          </div>

          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              class="form-control"
              id="lastName"
              required
              [(ngModel)]="person.lastName"
              name="lastName"
            />
          </div>

          <button mat-flat-button color="accent" (click)="updatePerson()">Save</button>
          <button mat-stroked-button color="accent"(click)="toggleEditingDetails()">Cancel</button>
          <button mat-flat-button color="warn" (click)="deletePerson()">Delete</button>
        </div>

        <h3>Tags:</h3>
        <div class="tags-row">
          <div *ngFor="let tagId of person.tagIds">
            <app-tag [tagId]="tagId" [personId]="person.id"></app-tag>
          </div>
        </div>
        <div *ngIf="!addingTags">
          <button mat-button color="accent" (click)="toggleAddingTags()">Add Tags</button>
        </div>
        <div *ngIf="addingTags">
          Available tags:
          <div *ngFor="let tag of allTags$ | async">
            <div *ngIf="tag.id">
              <p>{{ tag.name }}</p>
              <button (click)="assignTag(tag.id)">
                Assign to {{ person.firstName }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="deleted">
        <p>{{ person.firstName }} {{ person.lastName }} was deleted.</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
