<div class="person-container">
  <h3>Selected Person</h3>
  <div *ngIf="editMode">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        required
        [(ngModel)]="person.firstName"
        name="firstName"
      />
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        class="form-control"
        id="lastName"
        required
        [(ngModel)]="person.lastName"
        name="lastName"
      />
    </div>

    <button (click)="updatePerson()">Save</button>
    <button (click)="deletePerson()">Delete</button>
  </div>

  <div *ngIf="!editMode">
    <div *ngIf="!deleted">
      <p>First Name: {{person.firstName}}</p>
      <p>Last Name: {{person.lastName}}</p>
      <button (click)="toggleEditMode()">Edit</button>
    </div>
    <div *ngIf="deleted">
      <p>{{person.firstName}} {{person.lastName}} was deleted.</p>
    </div>
  </div>
</div>