<div *ngIf="!expanded">
  <p>{{ person.firstName }} {{ person.lastName }}</p>
  
  <button (click)="toggleExpanded()">Expand</button>
</div>
<div *ngIf="expanded">
  <div *ngIf="!deleted" class="person-container">
    <div *ngIf="editingDetails">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          required
          [(ngModel)]="person.firstName"
          name="firstName"
        />
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          class="form-control"
          id="lastName"
          required
          [(ngModel)]="person.lastName"
          name="lastName"
        />
      </div>

      <button (click)="updatePerson()">Save</button>
      <button (click)="toggleEditingDetails()">Cancel</button>
      <button (click)="deletePerson()">Delete</button>
    </div>

    <div *ngIf="!editingDetails">
      <p>{{ person.firstName }} {{ person.lastName }}</p>
      <button (click)="toggleEditingDetails()">Edit Details</button>
    </div>
    <p>Tags:</p>
    <div *ngFor="let tagId of person.tagIds">
      <app-tag [tagId]="tagId" [personId]="person.id"></app-tag>
    </div>
    <div *ngIf="!addingTags">
      <button (click)="toggleAddingTags()">Add Tags</button>
    </div>
    <div *ngIf="addingTags">
      Available tags:
      <div *ngFor="let tag of allTags$ | async">
        <div *ngIf="tag.id">
          <p>{{ tag.name }}</p>
          <button (click)="assignTag(tag.id)">
            Assign to {{ person.firstName }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="deleted">
    <p>{{ person.firstName }} {{ person.lastName }} was deleted.</p>
  </div>
  <button (click)="toggleExpanded()">Collapse</button>
</div>
