<div class="entity-container">
  <div class="title">
    <h3>{{ entity?.name }}</h3>
  </div>
  <div class="fields-container">
    <div *ngFor="let field of entityWithFields?.fields" class="field">
      <div *ngIf="!editing">
        {{ field.field }}: {{ field.value }}
      </div>
      <div *ngIf="editing">
        {{ field.field }}: 
      </div>
    </div>
    <button (click)="toggleEditing()">
      {{ editing ? "Stop Editing Fields" : "Edit Fields" }}
    </button>
    <app-tags [entity]="entity"></app-tags>
  </div>
</div>
