<div class="tag-container">
  <div *ngIf="!deleted">
    <div *ngIf="!editMode">
      <p>{{ tag.name }}</p>
      <span *ngIf="personId" (click)="removeFromPerson(personId)">x</span>
      <button *ngIf="!personId" (click)="toggleEditMode()">Edit</button>
    </div>

    <div *ngIf="editMode">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="tag.name"
          name="name"
        />
      </div>

      <button (click)="updateTag()">Save</button>
      <button (click)="deleteTag()">Delete Tag</button>
      <button (click)="toggleEditMode()">Cancel</button>
    </div>
  </div>
  <div *ngIf="deleted">
    <p>{{ tag.name }} was deleted.</p>
  </div>
</div>
