<div>
  <div *ngIf="!session?.user">
    <button (click)="signInWithGoogle()">Sign in with Google</button>
  </div>
  <div *ngIf="session?.user">
    <h3>
      You are signed in as {{session?.user?.user_metadata?.["name"] || session?.user?.email}}
    </h3>
    <button (click)="signOut()">Sign out</button>
  </div>
</div>

<!-- <div class="row flex-center flex">
  <div class="col-6 form-widget" aria-live="polite">
    <h1 class="header">Supabase + Angular</h1>
    <p class="description">Sign in via magic link with your email below</p>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="form-widget">
      <div>
        <label for="email">Email</label>
        <input
          id="email"
          formControlName="email"
          class="inputField"
          type="email"
          placeholder="Your email"
        />
      </div>
      <div>
        <button type="submit" class="button block" [disabled]="loading">
          {{ loading ? 'Loading' : 'Send magic link' }}
        </button>
      </div>
    </form>
  </div>
</div> -->
